#logIn, #SignIn
{
   border: solid goldenrod 3px;
   width: 100%;
   padding: 25px;
   box-sizing: border-box;
   height: auto;
   margin: auto;
}
body, html {
     background-size:cover;
}
h1{
    font-size: 60px;
}
h1,h2{
   font-family: 'Shojumaru', cursive;
   color: gold;
}
div h2{
    color:  #9a7d0a;
}

div {
    opacity: 0.95;
    border-radius: 20px;
    width: 40%;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 40px;
   
}
input,select
{
    width: 100%;
}
.form-all {

    margin-left: 0px;

}

input, option {
  display: inline-block;
  float: center;
}
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 14px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
h3
{
    box-sizing: border-box;
    width: 100%;
}
#container {
    width:100%;
    text-align:center;
    opacity: 0.8;
}

#left {
    float:left;
    width:100px;
    opacity: 1;
}

#center {
    display: inline-block;
    margin:0 auto;
    width:100px;
}

#right {
    float:right;
    width:100px;
}